/* App.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Home Section */
.home-section {
  background-color: #894e8a;
  color: white;
  padding: 60px 0;
  text-align: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.home-text p {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto;
}

.home-images {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 40px;
}

.home-images img {
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Payment Section */
.payment-section {
  padding: 40px 0;
  text-align: center;
}

.payment-form {
  max-width: 300px;
  margin: 0 auto;
}

.payment-form label {
  display: block;
  margin-bottom: 8px;
}

.payment-form input,
.payment-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.payment-form button {
  background-color: #894e8a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.payment-link p {
  margin-top: 20px;
}

.payment-link a {
  display: block;
  color: #894e8a;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home-images {
    flex-direction: column;
    align-items: center;
  }

  .home-images img {
    width: 60%;
    margin-top: 20px;
  }
}

.success-message {
  background-color: #4caf50; /* Green background */
  color: white; /* White text color */
  padding: 2px; /* Padding for the message */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center-align text */
  margin-top: 10px; /* Add margin to separate from the button */
}

.success-text {
  font-size: 18px; /* Adjust the font size */
  font-weight: bold; /* Make the text bold */
}
.error-message {
  color: red;
  margin-top: 5px;
}
